# Docker
**/.dockerignore
**/.env
**/.env.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Ambiente
.env
