apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: desafio-devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend:latest
          imagePullPolicy: IfNotPresent # Garante que o Kubernetes use a imagem local do Minikube
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: backend-configmap
            - secretRef:
                name: postgres-secret # Referencia o Secret do PostgreSQL
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3