apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  namespace: desafio-devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      securityContext:
        fsGroup: 999 # Garante que o volume seja de propriedade do grupo 999 (usuário postgres)
      initContainers:
        - name: fix-permissions
          image: busybox:stable-glibc # Uma imagem pequena com ferramentas básicas
          command: ["sh", "-c", "mkdir -p /var/lib/postgresql/data && chown -R 999:999 /var/lib/postgresql && chmod -R 700 /var/lib/postgresql"]
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql
      containers:
        - name: postgres
          image: postgres:latest
          imagePullPolicy: IfNotPresent # Garante que o Kubernetes use a imagem local do Minikube
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql # Monta o volume na raiz esperada pelo PostgreSQL
          livenessProbe:
            exec:
              command: ["sh", "-c", "pg_isready -U $(POSTGRES_USER) -d $(POSTGRES_DB)"]
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          readinessProbe:
            exec:
              command: ["sh", "-c", "pg_isready -U $(POSTGRES_USER) -d $(POSTGRES_DB)"]
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc