apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  namespace: desafio-devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      securityContext:
        fsGroup: 999
      initContainers:
      - name: fix-permissions
        image: alpine:3
        command: ["sh", "-c", "mkdir -p /opt/postgres/data && chown -R 999:999 /opt/postgres"]
        securityContext:
          runAsUser: 0
        volumeMounts:
        - name: postgres-storage
          mountPath: /opt/postgres/data
      containers:
      - name: postgres
        image: database:latest
        imagePullPolicy: Never
        securityContext:
          runAsUser: 999
          runAsGroup: 999
        env:
        - name: PGDATA
          value: /opt/postgres/data  # ← PostgreSQL usará este diretório
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_DB
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-storage
          mountPath: /opt/postgres/data  # ← Diretório personalizado
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - pg_isready -U postgres
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 5432
          initialDelaySeconds: 60
          periodSeconds: 10
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc