apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-configmap
  namespace: desafio-devops
data:
  nginx.conf: |
    events {
        worker_connections 1024;
    }

    http {
        upstream backend {
            server backend-service:3000; # Alterado para o nome do Service do backend
        }

        upstream frontend {
            server frontend-service:80; # Alterado para o nome do Service do frontend
        }

        server {
            listen 80;
            
            location / {
                proxy_pass http://frontend;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
            }

            location /api {
                proxy_pass http://backend;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
            }
        }
    }